html
    head
        link(href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/css/foundation.css', rel='stylesheet')
    body
        .row
            .large-10.columns
                h3#title Available data
                table
                    thead
                        tr
                            td
                                b Raw Data (json)
                            td
                                b Query (json)
                            td(colspan=3)
                                b Graph (html)
                    tbody
                        for item in db
                            for queryId,index_1 in item.queries
                                tr
                                    td#dataIds
                                        a(id=item.dataId , href='/data/' + item.dataId , target='_blank')= item.dataId
                                    td#queries
                                        a(id=queryId , href='/data/'+item.dataId +'/'+queryId , target='_blank')= queryId
                                    for graphId,index_2 in item.graphs
                                        td#graphs
                                            a(id=graphId , href='/data/'+item.dataId +'/'+queryId + '/' + graphId , target='_blank')= graphId


                                    //tr
                                        if(index_1==0 && index_2==0)
                                            td(rowspan= (item.queries.length + item.graphs.length))
                                                a(id=item.dataId , href='/data/'+item.dataId , target='_blank')= item.dataId
                                        if(index_2==0)
                                            td(rowspan= item.graphs.length)
                                                a(id=queryId , href='/data/'+item.dataId +'/'+queryId , target='_blank')= queryId
                                        td
                                            a(id=graphId , href='/data/'+item.dataId +'/'+queryId + '/' + graphId , target='_blank')= graphId

               // ul
                    li baseFolder:
                        span#baseFolder= baseFolder
                    li
                        b dbs:
                        ul#dataIds
                            for item in db
                                li
                                    a(id=item.dataId , href='/data/'+item.dataId , target='_blank')= item.dataId
                                    ul#queries
                                        for queryId in item.queries
                                            li
                                                a(id=queryId , href='/data/'+item.dataId +'/'+queryId , target='_blank')= queryId
                                                ul#graphs
                                                    for graphId in item.graphs
                                                        li
                                                            a(id=graphId , href='/data/'+item.dataId +'/'+queryId + '/' + graphId , target='_blank')= graphId